<!-- templates/main_page.html -->
{% load static %}
<html>
    <head>
        <title>NEL's Q-A</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'qa/css/qa.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1>
                <a href="/">Mike Nel Question-Answer site</a>
            </h1>
        </div>
 
		<h4>Last questions:</h4>

		{% for question in questions %}
			<h2>
				<a href="/question/{{question.id}}/">{{question.title}}</a>
			</h2>
		{% endfor %}

		<h4>List of questions:</h4>

		<ul>
			{% for p in paginator.page_range %}
				<li>
					{% if p == page.number %}
						<a href="{{paginator.baseurl}}{{p}}"><b>{{p}}</b></a>
					{% else %}
						<a href="{{paginator.baseurl}}{{p}}">{{p}}</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
        <h4>
            <a href="/popular">Popular questions >></a>
        </h4>
    </body>
</html>
