<!-- templates/question_page.html -->
<html>
{% load static %}
<html>                                              
    <head>
        <title>NEL's Q-A</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'qa/css/qa.css' %}">
    </head>

    <body>
	    <div class="page-header">
	        <h1>
	            {{question.title}}
	        </h1>
	    </div>

		<p>{{question.text}}</p>

		<h3>Answers:</h3>




		{% for e in form.non_field_errors %}
			<p>{{ e }}</p>
		{% endfor %}

		<form method="POST" action="/answer/">
			<fieldset>
				{% for field in form %}
					<div {% if field.errors %} color="red" {% endif %}>
						<label>{{field.label}}</label>
						<div>{{ field }}</div>
					</div>
				{% endfor %}
			</fieldset>

			{% csrf_token %}
			<div>
				<button type="submit">Save</button>
			</div>
		</form>




		<ul>
			{% for answer in answers %}
				<li>
					<p1>{{answer.text}}</p1>
				</li>
					<p2>- {{answer.author}}<p2>
			{% endfor %}
		</ul>




		<div>
			<button type="/">Main Page >></button>
		</div>
		<h4>
			<a href="/"> Main page >> </a>
		</h4>
        <h4>
            <a href="/popular">Popular questions >></a>
        </h4>

    </body>

</html>
